@font-face { 
	font-family:'MankSans'; 
	src:url(http://www.e7chun.com/portfolio/fonts/manksans.ttf);
} 

@font-face { 
	font-family:'Penna'; 
	src:url(http://www.e7chun.com/portfolio/fonts/penna.otf);
} 

#header img{
	width: 5%;
	height: 7%

}
html {
	color: white;
	font-family: 'manksans', sans-serif;
}
body {
	/*background-repeat:no-repeat;*/
/*background-attachment:fixed;*/
/*background-position:65% 45%;*/
background-size: 100% auto;
}


ul{
/*	border-bottom: dotted 1px #A3A3A3;
	border-top: dotted 1px #A3A3A3;*/
	
	margin: 10px;
	display: inline;
	margin-right: 50px;
	display: inline;
	list-style: none;

}
li {
	display: inline;
	padding-right: 20px; 
}
#title {
	font-family: 'penna', sans-serif;
	padding-right: 500px;
	font-size: 55px;
	letter-spacing:-4px;
}
.container{
	text-align: center
}

a {
	color: white;
	text-decoration: none;
}

#motto {
	font-size: 30px;
}

#start {
	border-style: solid;
	border-width:6px;
	font-size: 50px;
	padding: 20px;
	padding-left: -20px;
	padding-right: -20px;
	margin:30px 250px;
}

#end {
	border-style: solid;
	border-width:6px;
	font-size: 50px;
	padding: 20px;
	padding-left: -20px;
	padding-right: -20px;
	margin:180px 250px;
}

#start:hover {
	background-color: green;
	opacity:0.9;
/*	filter:alpha(opacity=40);*/
}

#end:hover {
	background-color: #FFCC11;
	opacity:0.9;
}

#copyright {
	font-family: 'manksans', sans-serif;
	text-align: center;
	color: #DCDCDC;
}
