@font-face { 
	font-family:'MankSans'; 
	src:url(http://www.e7chun.com/portfolio/fonts/MankSans.ttf);
} 

@font-face { 
	font-family:'Penna'; 
	src:url(http://www.e7chun.com/portfolio/fonts/penna.otf);
} 

#header img{
	width: 5%;
	height: 7%

}
html {
	color: white;
	font-family: 'manksans', sans-serif;
}
.whole_page {
	background-size: 100% auto;
/*	opacity: 20;*/
}

ul{
	margin: 10px;
	display: inline;
	margin-right: 50px;
	display: inline;
	list-style: none;
}
li {
	display: inline;
	padding-right: 20px; 
}
#nav_bar {
	position: fixed;
}
#title {
	font-family: 'penna', sans-serif;
	padding-right: 750px;
	padding-left: 80px;
	font-size: 55px;
	letter-spacing:-4px;
}
.container{
	text-align: center
}

a {
	color: white;
	text-decoration: none;
}

#motto {
	font-size: 30px;
}

#start {
	border-style: solid;
	border-width:6px;
	font-size: 50px;
	padding: 20px;
	padding-left: -20px;
	padding-right: -20px;
	margin:10px 250px;
}

#end {
	border-style: solid;
	border-width:6px;
	font-size: 50px;
	padding: 20px;
	padding-left: -20px;
	padding-right: -20px;
	margin:30px 250px 2px 250px;
	visibility: hidden;
}

#start:hover {
	background-color: green;
	opacity:0.9;
}

#end:hover {
	background-color: #FFCC11;
	opacity:0.9;
}

#copyright {
	font-family: 'manksans', sans-serif;
	text-align: center;
	color: #DCDCDC;
}

#purpose {
	font-size: 70px;
}

#memo {
	font-size: 40px;
}

#clock {
	margin: 10px 100px;
	font-size: 50px;
}

#count_down {
	margin: 10px 100px;
	font-size: 100px;
}

.input {
	width: 300px;
	height: 50px;
}

input {
	background-color: white;
	color: grey;
}

#registers {
	font-size: 50px;
}

#hidden {

	visibility: hidden;
}

